@charset "utf-8";

.mB20{margin-bottom:20px !important}

/* width */
.wid7p{width:7% !important}
.wid40p{width:40% !important}
.wid50p{width:50% !important}
.wid60p{width:60% !important}
.wid64p{width:64% !important}
.wid70p{width:70% !important}
.wid80p{width:80% !important}
.wid90p{width:90% !important}
.wid100p{width:100% !important}
.wid59{width:59px !important}
.wid85{width:85px !important}
.wid98{width:98px !important}
.wid100{width:100px !important}
.wid120{width:120px !important}
.wid127{width:127px !important}
.wid128{width:128px !important}
.wid130{width:130px !important}
.wid140{width:140px !important}
.wid150{width:150px !important}
.wid170{width:170px !important}
.wid180{width:180px !important}
.wid198{width:198px !important}
.wid200{width:200px !important}
.wid208{width:208px !important}
.wid220{width:220px !important}
.wid246{width:246px !important}
.wid250{width:250px !important}
.wid276{width:276px !important}
.wid278{width:278px !important}
.wid279{width:279px !important}
.wid284{width:284px !important}
.wid320{width:320px !important}
.wid398{width:398px !important}
.wid495{width:495px !important}
.wid600{width:600px !important}

.messagePopupClone{display:none}
.messageBg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;background:url("../images/layerpopup/bg_layerpopup.png") repeat}
.messageLayer{position:fixed;top:0;left:0;z-index:1001;background-color:#ebebeb;padding:10px}
.messageLayer .layerHeader{width:100%;height:40px}
.messageLayer .layerHeader .title{display:inline-block;font-size:18px;font-weight:900;color:#000000;line-height:28px;text-indent:20px;letter-spacing:-0.4px}
.messageLayer .layerHeader .messageClose{float:right;margin:5px 10px 0 0}
.messageLayer .layerContainer{padding:0 40px;background-color:#fff;text-align:center;font-size:16px;color:#000000;margin-bottom:10px}
.messageLayer .layerContainer .message{width:320px;display:table-cell;vertical-align:middle;height:115px;font-weight:bold}
.messageLayer .layerContainer .message span{color:blue}
.messageLayer .layerFooter{clear:both;text-align:center}

.layerBg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;background:url("../images/layerpopup/bg_layerpopup.png") repeat;display:none}
.layerPopup{position:fixed;top:0;left:0;z-index:1001}

table.style03{border-collapse:collapse;width:100%;border:0px;font-size:20px;color:#000;text-align:center}
table.style03 th{height:30px;text-align:left;padding-left:45px}
table.style03 th,
table.style03 td{padding-top:7px}
table.style03 .padding15{padding:15px;}
table.style03 th.icon_name{background:url("../images/member/icon_member_name.png") 0px center no-repeat}
table.style03 th.icon_school{background:url("../images/member/icon_member_school.png") 0px center no-repeat}
table.style03 th.icon_comment{background:url("../images/member/icon_member_comment.png") 0px center no-repeat}
table.style03 th.icon_date{background:url("../images/member/icon_member_date.png") 0px center no-repeat}
table.style03 th.icon_clock{background:url("../images/member/icon_member_clock.png") 0px center no-repeat}
table.style03 th.icon_stuname{background:url("../images/member/icon_member_stuname.png") 0px center no-repeat}
table.style03 th.icon_tel{background:url("../images/member/icon_member_tel.png") 0px center no-repeat}
table.style03 th.icon_nowpass{background:url("../images/member/icon_member_nowpass.png") 0px center no-repeat}
table.style03 th.icon_repasscheck{background:url("../images/member/icon_member_repasscheck.png") 0px center no-repeat}
table.style03 td{text-align:left}
table.style03 td ul li{font-weight:bold;width:100%;height:33px;line-height:33px;text-align:left;text-indent:18px;background:url("../images/member/icon_member_input_bg.png") bottom left no-repeat;border-bottom:1px solid #b4b4b4;margin-top:7px}
table.style03 td input{width:90%;display:block;padding-left:10px;height:65px;border:1px solid #dcdcdc;margin-right:6px;font-size:35px;}
table.style03 td .hei22{height:22px;}
table.style03 td .font15{font-size:15px;}
table.style03 td .info{font-size:12px;color:#ec7063}
table.style03 td .info_ok{font-size:12px;color:#839ab5}
table.style03 td .select{display:inline-block}
table.style03 td select{padding-left:10px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
table.style03 td .select.calendar{height:28px;flex:none;-webkit-flex:none;-ms-flex:none}
table.style03 td .select.calendar input{width:175px;height:26px;display:inline-block;padding-left:10px;border:1px solid #dcdcdc;background:url("../images/mng/icon_calendar.png") #fff right center no-repeat;cursor:pointer}
table.style03 td textarea{width:90%;height:85px;padding:5px;border:1px solid #dcdcdc;resize:none}
.layerPopup.pointPop{width:580px;display:none}
.layerPopup.pointSavePop{width:580px;display:none}
.layerPopup.pointUsePop{width:580px;display:none}
.layerPopup.newClientAdd{width:580px;display:none}
.layerPopup.searchClient{width:860px;display:none}
.layerPopup.searchClient2{width:860px;display:none}
.layerPopup.style01 .layerHeader{width:100%;height:50px;background-color:#1ebfae}
.layerPopup.style01 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#fff;line-height:50px;text-indent:30px}
.layerPopup.style01 .layerHeader .layerClose{float:right;margin:20px 16px 0 0}
.layerPopup.style01 .layerContainer{padding:18px 20px;background-color:#ebebeb}
.layerPopup.style01 .layerContainer h1.title{font-size:20px;color:#010101;text-indent:10px;font-weight:bold;margin-bottom:18px}
.layerPopup.style01 .layerContainer h1.info{display:block;font-size:14px;color:#424242;font-weight:normal;margin-bottom:15px}
.layerPopup.style01 .layerContainer .conContainer{border:1px solid #d7d7d7;padding:40px;background-color:#fff;border-bottom:none;padding-bottom:0px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap{width:100%;height:58px;border:1px solid #dcdcdc;background-color:#edecec;line-height:98px;margin-bottom:20px;display:flex;display:-webkit-flex;margin-bottom:30px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .section{flex:1;-webkit-flex:1;-ms-flex:1;display:flex;display:-webkit-flex;align-items:center;justify-content:center}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .section:nth-child(3){width:170px;flex:none;-webkit-flex:none;-ms-flex:none}
.layerPopup.style01 .layerContainer .conContainer .searchWrap label{font-size:16px;font-weight:bold;color:#000;margin-right:4px}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select{display:inline-block}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select select{padding-left:5px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
.layerPopup.style01 .layerContainer .conContainer .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
.layerPopup.style01 .layerContainer .conContainer .mainTableWrap{padding-bottom:30px;border-bottom:1px solid #d7d7d7}
.layerPopup.style01 .layerContainer .conFooter{clear:both;text-align:center;padding:10px;border:1px solid #d7d7d7;border-top:none;background-color:#fff}
.layerPopup.style01 .layerFooter{clear:both;text-align:center}

.layerPopup.style02 .layerHeader{width:100%;height:50px;background-color:#30a5ff}
.layerPopup.style02 .layerHeader .title{display:inline-block;font-size:18px;font-weight:bold;color:#fff;line-height:50px;text-indent:30px}
.layerPopup.style02 .layerHeader .layerClose{float:right;margin:20px 16px 0 0}
.layerPopup.style02 .layerContainer{padding:18px 20px;background-color:#ebebeb}
.layerPopup.style02 .layerContainer h1.title{font-size:20px;color:#010101;text-indent:10px;font-weight:bold;margin-bottom:18px}
.layerPopup.style02 .layerContainer h1.info{display:block;font-size:14px;color:#424242;font-weight:normal;margin-bottom:15px}
.layerPopup.style02 .layerContainer .conContainer{border:1px solid #d7d7d7;padding:19px;background-color:#fff;border-bottom:none;padding-bottom:0px}
.layerPopup.style02 .layerContainer .conContainer .searchWrap{overflow:hidden;padding:15px;border:1px solid #dcdcdc;background-color:#edecec;margin-bottom:30px;text-align:center}
.layerPopup.style02 .layerContainer .conContainer .searchWrap .section{display:inline-block;margin-right:20px;padding:10px 0;}
.layerPopup.style02 .layerContainer .conContainer .searchWrap .section2{display:inline-block;margin-right:10px;padding:10px 0;}
.layerPopup.style02 .layerContainer .conContainer .searchWrap label{font-size:16px;font-weight:bold;color:#000000;margin-right:4px}
.layerPopup.style02 .layerContainer .conContainer .searchWrap .select{display:inline-block}
.layerPopup.style02 .layerContainer .conContainer .searchWrap .select select{padding-left:5px;padding-right:30px;height:26px;border:1px solid #dcdcdc;-webkit-appearance:none;appearance:none;background:url("../images/bg_select_arrow.png") #fff right center no-repeat}
.layerPopup.style02 .layerContainer .conContainer .searchWrap .select input{padding-left:10px;height:26px;border:1px solid #dcdcdc}
.layerPopup.style02 .layerContainer .conContainer .tableWrap{padding-bottom:30px;border-bottom:1px solid #d7d7d7}
.layerPopup.style02 .layerContainer .conFooter{clear:both;text-align:center;padding:10px;border:1px solid #d7d7d7;border-top:none;background-color:#fff}
.layerPopup.style02 .layerFooter{clear:both;text-align:center}

.saBtn a{display:inline-block;color:#fff;text-align:center}
.saBtn a.btnSurveyResult{width:200px;line-height:40px;font-size:16px;text-indent:26px;background:url("../images/au/btn_survey_result.png") #ec7063 41px center no-repeat;border-top-left-radius:7px;border-top-right-radius:7px;font-weight:normal;top:1px;left:13px}
.saBtn a.btnSurveyStart{width:200px;line-height:40px;font-size:16px;font-weight:600;background:url("../images/au/btn_survey_start.png") #7e99a2 170px center no-repeat}
.saBtn a.btnSurveyEnd{width:200px;line-height:40px;font-size:16px;font-weight:600;background-color:#c5c5c5;pointer-events: none;cursor: default;}
.saBtn a.btnSurveyReady{width:200px;line-height:40px;font-size:16px;font-weight:600;background-color:#9f9f9f}
.saBtn a.btnSurveyLayerStart{width:120px;line-height:46px;font-size:16px;font-weight:600;background-color:#7e99a2}
.saBtn a.btnScaleTmpSave{padding:0 26px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#adadad}
.saBtn a.btnScaleTmpSave:hover{background-color:#01aeeb}
.saBtn a.btnScalePrev{padding:0 38px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#adadad}
.saBtn a.btnScalePrev:hover{background-color:#01aeeb}
.saBtn a.btnScaleNext{padding:0 38px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#7e99a2}
.saBtn a.btnScaleNext:hover{background-color:#01aeeb}
.saBtn a.btnScaleSucces{padding-left:80px;padding-right:50px;font-size:13px;color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:url("../images/au/survey_succes.png") #ff9c00 50px center no-repeat}
.saBtn a.btnScaleSucces:hover{background-color:#01aeeb}
.saBtn a.btnMoreResult{width:200px;font-size:16px;font-weight:600;background-color:#7e99a2;line-height:40px}
.saBtn a.btnAnalysMLayer{width:148px;height:38px;background-color:#7e99a2;border:1px solid #7e99a2;font-size:16px;color:#fff;text-align:center;border-top-left-radius:5px;border-top-right-radius:5px;line-height:38px}
.saBtn a.btnAnalysLLayer{width:148px;height:38px;background-color:#7e99a2;border:1px solid #7e99a2;font-size:16px;color:#fff;text-align:center;border-top-left-radius:5px;border-top-right-radius:5px;line-height:38px}
.saBtn a.btnPresentSearch{width:100px;height:59px;line-height:59px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnJoinStateListSearch{width:100px;height:28px;line-height:28px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnJoinStateResult{width:120px;height:30px;line-height:30px;background-color:#7e99a2;font-size:13px;color:#fff;text-align:center}
.saBtn a.btnUsrManagePresentSearch{width:100px;height:59px;line-height:59px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnUsrManageListSearch{width:100px;height:28px;line-height:28px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnUsrManageApp{width:80px;height:30px;line-height:30px;background-color:#50b6d8;font-size:13px;color:#fff;text-align:center}
.saBtn a.btnUsrManageCen{width:80px;height:30px;line-height:30px;background-color:#ec7063;font-size:13px;color:#fff;text-align:center}
.saBtn a.btnUsrManageLayerModify{width:120px;height:46px;line-height:46px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnUsrManageLayerSumbit{width:120px;height:46px;line-height:46px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnUsrManageLayerCancel{width:120px;height:46px;line-height:46px;background-color:#adadad;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoModifyApp{width:100px;height:26px;line-height:26px;background-color:#ec7063;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoReApp{width:100px;height:26px;line-height:26px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoDel{width:100px;height:26px;line-height:26px;background-color:#adadad;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoNextClassAdd{width:180px;height:26px;line-height:26px;background-color:#7e99a2;font-size:14px;color:#fff;text-align:center}
.saBtn a.btnTchInfoMdify{width:100px;height:46px;line-height:46px;background-color:#7e99a2;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnTchInfoCancel{width:100px;height:46px;line-height:46px;background-color:#adadad;font-size:16px;color:#fff;text-align:center;font-weight:bold}
.saBtn a.btnMngJoinsSearch{font-size:14px;color:#fff;font-weight:bold;background-color:#7e99a2;padding:7px 27px;line-height:14px}
.saBtn a.btnMngJoinsResult{font-size:13px;line-height:22px;color:#fff;background-color:#7e99a2;padding:0 26px}
.saBtn a.btnMngClassChoice{font-size:14px;color:#fff;font-weight:bold;background-color:#7e99a2;padding:7px 7px;line-height:14px}
.saBtn a.btnMngClassDelete{font-size:14px;color:#fff;font-weight:bold;background-color:#7e99a2;padding:7px 17px;line-height:14px}
.saBtn a.btnMngClassTabGray{font-size:13px;color:#fff;width:97px;height:39px;line-height:39px;text-align:center;background-color:#b5b5b5;border:1px solid #b5b5b5;border-top-left-radius:10px;border-top-right-radius:10px}
.saBtn a.btnMngClassTabGreen{font-size:13px;color:#fff;width:97px;height:39px;line-height:39px;text-align:center;background-color:#7e99a2;border:1px solid #7e99a2;border-top-left-radius:10px;border-top-right-radius:10px}
.saBtn a.btnMngTeacherApprove{font-size:13px;color:#fff;width:80px;height:30px;line-height:30px;text-align:center;background-color:#50b6d8}
.saBtn a.btnMngTeacherReturn{font-size:13px;color:#fff;width:80px;height:30px;line-height:30px;text-align:center;background-color:#ec7063}
.saBtn a.btnLayerGreen{font-size:14px;color:#fff;width:120px;height:46px;line-height:46px;text-align:center;background-color:#7e99a2}
.saBtn a.btnLayerGray{font-size:14px;color:#fff;width:120px;height:46px;line-height:46px;text-align:center;background-color:#9f9f9f}
.saBtn a.btnMngGreen{font-size:13px;color:#fff;width:120px;height:30px;line-height:30px;text-align:center;background-color:#7e99a2}
.saBtn a.btnLicenceLoanSearch{font-size:14px;color:#fff;width:80px;height:66px;line-height:66px;text-align:center;background-color:#7e99a2}
.saBtn a.btnGreen{font-size:14px;color:#fff;background-color:#7e99a2;padding:7px 17px}
.saBtn a.btnGray{font-size:14px;color:#fff;background-color:#9f9f9f;padding:7px 17px}
.saBtn a.btnMemGreenSmall{padding:10px 18px;font-size:13px;color:#fff;background-color:#7e99a2}
.saBtn a.btnMemGreenLong{padding:15px 18px;font-size:14px;color:#fff;background-color:#7e99a2}
.saBtn a.btnMemGreenBig{padding:15px 47px;font-size:14px;color:#fff;background-color:#7e99a2}